
{{>internalNabBar}}

<style>
    input {
        width: 300px;
    }
</style>

<div id="practical--wrapper">
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-sm-6" id="clm1">
            <br>
            <p class="card-title" id="practical--heading">
                Subject : CHEMISTRY <br>
                Practical No : 3 <br>
                Progress :
                <span id="progress">0</span>%
            </p>


            <div id="practicalData--wrapper">
                <h5> <span style="color: #FF842F;">AIM </span> <br>To Study
                    Preparation of soap </h5>
                <br>
                <div id="theory--wrapper">
                    <h5><span style="color: #FF842F;">THEORY </span></h5>
                    <p>
                        In this practical, students learn how to prepare soap by
                        saponification reaction of fats/oils with sodium
                        hydroxide or potassium hydroxide. They also learn how to
                        test the cleansing action of the prepared soap. <br>
                        <br>
                        Materials required: <br>
                        • Vegetable oil or animal fat <br>
                        • Sodium hydroxide or potassium hydroxide <br>
                        • Beaker <br>
                        • Stirring rod <br>
                        • Heat source (hot plate or Bunsen burner) <br>
                        • Molds <br>
                        • pH paper <br> <br>
                        Procedure: <br>
                        1. Measure the desired amount of vegetable oil or animal
                        fat using a beaker. <br>
                        2. Add sodium hydroxide or potassium hydroxide to the
                        beaker and stir the mixture using a stirring rod. <br>
                        3. Heat the mixture over a heat source until it reaches
                        a temperature of around 60-70°C. <br>
                        4. Pour the mixture into molds and let it cool down.
                        <br>
                        5. Once cooled down, remove the soap from the molds and
                        test its pH using pH paper. <br> <br>
                        Observations: <br>
                        • The mixture of vegetable oil or animal fat and sodium
                        hydroxide or potassium hydroxide produces a thick,
                        opaque solution. <br>
                        • Once cooled down, the solution solidifies and turns
                        into soap. <br>
                        • The pH of the soap can be tested using pH paper. <br>
                        <br>
                        Result: <br>
                        • Soap is prepared, which can be used for cleaning and
                        hygiene purposes. <br>
                    </p>
                </div>
            </div>

            <div id="test--wrapper">
                <h5><span style="color: #FF842F;" id="questions">QUESTIONS
                    </span></h5>
                <br>


                <form id="myForm">

                    {{!-- Question 1 --}}
                    <h6>Q1. What is the purpose of this practical?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="1.1" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of lime water in exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="1.2" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of carbon dioxide in exhaled
                            air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="1.3" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of oxygen in exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="1.4" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of water vapor in exhaled air
                        </label>
                    </div>
                    <br>

                    {{!-- Question 2 --}}
                    <h6>Q.2 What happens to the lime water when exhaled air is
                        blown into it?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="2.1" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water becomes more clear
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="2.2" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water turns blue

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="2.3" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water turns cloudy or milky

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="2.4" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water produces a strong smell

                        </label>
                    </div>
                    <br>

                    {{!-- Question 3 --}}
                    <h6>Q.3 What causes the cloudiness or milkiness of the lime
                        water in this experiment?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="3.1" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The oxygen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="3.2" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The nitrogen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="3.3" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The carbon dioxide in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="3.4" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The water vapor in the exhaled air

                        </label>
                    </div>
                    <br>

                    {{!-- Question 4 --}}
                    <h6>Q.4Why is a straw used in this experiment?
                    </h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="4.1" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To cool the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="4.2" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To filter the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="4.3" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To direct the exhaled air into the lime water
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="4.4" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To prevent the exhaled air from entering the
                            experimenter's mouth

                        </label>
                    </div>
                    <br>

                    {{!-- Question 5 --}}
                    <h6>Q.5 What does the formation of the white precipitate in
                        the lime water confirm?
                    </h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="5.1" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of carbon monoxide in the exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="5.2" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of oxygen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="5.3" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of carbon dioxide in the exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="5.4" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of water vapor in the exhaled air
                        </label>
                    </div>
                    <br>





                    <div>
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>

            </div>

        </div>
        <div class="col-sm-6" id="clm2">

            <nav class="nav">
                <a class="btn btn-primary" href="#" onclick="displayVideo()">Video</a>
                <a class="btn btn-primary" href="#questions">Test</a>
            </nav>

            <div style="margin-top: 50px;" id="Container">
                <div id="video--Container" style="text-align:center;">

                    <video width="560" height="315" controls muted>
                        <source src="/videos\chemistry_pract_3.webm"
                            type="video/mp4">
                        Your browser does not support HTML video.
                    </video>

                </div>

                <div id="test--Container">
                    Test
                </div>
            </div>




        </div>
    </div>
</div>

<script>
    const user = JSON.parse(localStorage.getItem("user"))
    document.getElementById("progress").innerHTML = user.chemistryScore.pract3.score
</script>
<script>

    var videoContainer = document.getElementById("video--Container")
    var animationContainer = document.getElementById("animation--Container")
    var testContainer = document.getElementById("test--Container")

    function displayVideo() {
        if (window.getComputedStyle(videoContainer).display == "none") {
            videoContainer.style.display = "block"
            animationContainer.style.display = "none"
            testContainer.style.display = "none"
        }
    }

    function displayAnimation() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    function displayTest() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    var animation1 = document.getElementById("animation1")
    function run() {

        alert("ABCD")

        animation1.style.display = "none"
        animation2.style.display = "block"




    }





</script>
{{!-- SCRIPT FOR QUESTIONS --}}
<script>

    const form = document.getElementById("myForm")

    const ansOfQ1 = document.getElementById("1.2")
    const ansOfQ2 = document.getElementById("2.3")
    const ansOfQ3 = document.getElementById("3.3")
    const ansOfQ4 = document.getElementById("4.3")
    const ansOfQ5 = document.getElementById("5.3")


    form.addEventListener('submit', (e) => {
        e.preventDefault()

        console.log(ansOfQ1.checked)

        var progressCounter = 0

        if (ansOfQ1.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ2.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ3.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ4.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ5.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (true) {
            alert("Congraluations Your Score is : " + progressCounter)

            fetch(`/practScore/updateChemistryScore/${progressCounter}/pract3/${JSON.parse(localStorage.getItem("user")).studentID}`)
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)

                    document.getElementById("progress").innerHTML = data.chemistryScore.pract3.score
                    localStorage.setItem('user', JSON.stringify(data))
                })
        }

    })


</script>
{{>checkIfLoggedInOrNot}}