<style>
  a{
    width: 100%;
  }
</style>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left"
  id="sidebar">
  <button style="color: white;" class="w3-bar-item w3-button w3-large
    w3-hide-large" onclick="w3_close()">Close &times;</button>

  <div id="teacher-sidebar-profile-container">
    <h5 id="teacherName">Teacher Name</h5>

    <p id="teacher-sidebar-profile-container-subject">SUBJECT</p>

  </div>

  <div id="teacher-sidebar-navigation">

    <a class="btn btn-light" onclick="showStudentList()" style="cursor:
      pointer;">Students List</a>
    <hr>
    <a class="btn btn-light" onclick="showStudentProgress()" style="cursor:
      pointer;">Students Progress</a>
    <hr>
    <a class="btn btn-light" onclick="showCreateStudent()" style="cursor:
      pointer;">Create Student</a>
    <hr>
    <a class="btn btn-light" onclick="showRemoveStudent()" style="cursor:
      pointer;">Remove Student</a>
    <hr>
    <a class="btn btn-light" onclick="showStudentDoubts()" style="cursor:
      pointer;">Student Doubts</a>
    <hr>
    <a class="btn btn-light" id="teacherLogOut" style="cursor: pointer;">Log Out</a>
    <hr>

  </div>





</div>


<div id="mainview">

  <div id="student_data" style="display:block;">
    {{>teacher/student_data}}
  </div>

  <div id="student_progress" style="display: none;">
    {{>teacher/student_progress}}
  </div>

  <div id="create_student" style="display: none;">
    {{>teacher/createStudent}}
  </div>

  <div id="remove_student" style="display: none;">
    {{>teacher/deleteStudent}}
  </div>

  <div id="student_doubts" style="display: none;">
    {{>teacher/chat}}
  </div>




</div>


<script type="text/javascript">
    function w3_open() {
      document.getElementById("sidebar").style.display = "block";
    }

    function w3_close() {
      document.getElementById("sidebar").style.display = "none";
    }
  </script>
<script>

    const student_list = document.getElementById("student_data")
    const student_progress = document.getElementById("student_progress")
    const create_student = document.getElementById("create_student")
    const remove_student = document.getElementById("remove_student")
    const student_doubts = document.getElementById("student_doubts")



    function showStudentList(){
      student_list.style.display = "block"
      student_progress.style.display = "none"
      create_student.style.display = "none"
      remove_student.style.display = "none"
      student_doubts.style.display = "none"
    }

    function showStudentProgress(){
      student_list.style.display = "none"
      student_progress.style.display = "block"
      create_student.style.display = "none"
      remove_student.style.display = "none"
      student_doubts.style.display = "none"

    }

    function showCreateStudent(){
      student_list.style.display = "none"
      student_progress.style.display = "none"
      create_student.style.display = "block"
      remove_student.style.display = "none"
      student_doubts.style.display = "none"

    }

    function showRemoveStudent(){
      student_list.style.display = "none"
      student_progress.style.display = "none"
      create_student.style.display = "none"
      remove_student.style.display = "block"
      student_doubts.style.display = "none"

    }

     function showStudentDoubts(){
      student_list.style.display = "none"
      student_progress.style.display = "none"
      create_student.style.display = "none"
      remove_student.style.display = "none"
      student_doubts.style.display = "block"

    }

  </script>
<script>
  const teacherName = document.getElementById("teacherName")
  const subject = document.getElementById("teacher-sidebar-profile-container-subject")
  teacherName.innerHTML = JSON.parse(localStorage.getItem("teacher")).name
  subject.innerHTML = JSON.parse(localStorage.getItem("teacher")).subject

</script>
{{>checkIfTeacherLoggedInOrNot}}
