<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" id="sidebar">
    <button style="color: white;" class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>

    <div id="teacher-sidebar-profile-container">
        <h5>Teacher Name</h5>
        
            <p id="teacher-sidebar-profile-container-subject">SUBJECT</p>
        
    </div>

    <div id="teacher-sidebar-navigation">

            <h5 onclick="showStudentList()" style="cursor: pointer;">Students List</h5>
            <hr>
            <h5 onclick="showStudentProgress()" style="cursor: pointer;">Students Progress</h5>
            <hr>    
            <a class="btn btn-light" id="teacherLogOut" style="cursor: pointer;">Log Out</a>
            <hr>

    </div>




    
</div>


<div id="mainview">
 
 <div id="student_data" style="display:none;">
  {{>student_data}}
 </div>

 <div id="student_progress" style="display: block;">
{{>student_progress}}
 </div>



  
</div>


<script type="text/javascript">
    function w3_open() {
      document.getElementById("sidebar").style.display = "block";
    }

    function w3_close() {
      document.getElementById("sidebar").style.display = "none";
    }
  </script>


  <script>

    const student_list = document.getElementById("student_data")
    const student_progress = document.getElementById("student_progress")


    function showStudentList(){
      student_list.style.display = "block"
      student_progress.style.display = "none"
    }

    function showStudentProgress(){
      student_list.style.display = "none"
      student_progress.style.display = "block"
    }

  </script>


  {{>checkIfTeacherLoggedInOrNot}}
