{{>internalNabBar}}

<div id="practical--wrapper">
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-sm-6" id="clm1">
            <br>
            <p class="card-title" id="practical--heading">
                Subject : Physics <br>
                Practical No : 1 <br>
                Progress : 0%
            </p>


            <div id="practicalData--wrapper">
                <h5> <span style="color: #FF842F;">AIM </span> <br>
                    To construct a simple circuit using a switch, battery, and
                    bulb.
                </h5>
                <br>
                <div id="theory--wrapper">
                    <h5><span style="color: #FF842F;">THEORY </span></h5>
                    <p>

                        <h5>Materials required:</h5>

                        <ul>
                            <li>Battery (5V)</li>
                            <li>Bulb (5V)</li>
                            <li>Switch</li>
                            <li>Connecting wires</li>
                            <li>Battery holder (optional)</li>
                        </ul>

                        <h5>Procedure:</h5>

                        <p style="text-align: justify;">
                            1. Connect one end of the bulb to the positive
                            terminal
                            of the battery using a connecting wire. <br>
                            2. Connect the other end of the bulb to one terminal
                            of
                            the switch using another connecting wire. <br>
                            3. Connect the other terminal of the switch to the
                            negative terminal of the battery using another
                            connecting wire.<br>
                            4. Ensure that all connections are secure and the
                            circuit is properly closed.<br>
                            5. Turn on the switch and observe the bulb lighting
                            up.<br>
                            6. Turn off the switch and observe the bulb turning
                            off.
                        </p>

                        <h5>Explanation:</h5>
                        <p style="text-align: justify;">
                            When the switch is turned on, it closes the circuit,
                            allowing the current to flow from the battery,
                            through the bulb, and back to the battery. The bulb
                            lights up because the current passing through it
                            causes the filament to heat up and emit light. When
                            the switch is turned off, the circuit is broken, and
                            the current stops flowing, causing the bulb to turn
                            off.
                        </p>

                        <h5>Note</h5>

                        <p style="text-align: justify;">
                            It is important to follow proper safety guidelines
                            when working with electricity. Always ensure that
                            the circuit is properly closed before turning on the
                            switch, and avoid touching the battery or bulb when
                            the circuit is in operation.
                        </p>

                    </p>

                </div>


            </div>

            <div id="test--wrapper">
                <h5><span style="color: #FF842F;" id="questions">QUESTIONS </span></h5>
                <br>
                

                <form id="myForm">

                    {{!-- Question 1 --}}
                    <h6>Q1. In a circuit with a switch, battery, and bulb, what happens when the switch is turned on?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="1.1" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            The circuit is broken, and the bulb turns off
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="1.2" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            The circuit is closed, and the bulb lights up
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="1.3" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            The battery explodes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="1.4" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            The bulb flickers
                        </label>
                    </div>
                    <br>

                    {{!-- Question 2 --}}
                    <h6>Q.2 What happens when the switch is turned off in a circuit with a switch, battery, and bulb?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="2.1" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The circuit is broken, and the bulb turns off
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="2.2" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The circuit is closed, and the bulb lights up brighter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="2.3" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The battery drains faster
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="2.4" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The bulb explodes
                        </label>
                    </div>
                    <br>

                    {{!-- Question 3 --}}
                    <h6>Q.3 What is the purpose of the switch in a circuit with a switch, battery, and bulb?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="3.1" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            To regulate the voltage of the battery
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="3.2" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            To increase the brightness of the bulb
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="3.3" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                             To open and close the circuit
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="3.4" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            To prevent the battery from overheating
                        </label>
                    </div>
                    <br>

                    {{!-- Question 4 --}}
                    <h6>Q.4 What is the voltage of the battery required for the practical?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="4.1" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            1V
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="4.2" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            1.2V
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="4.3" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            5V
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="4.4" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            2V
                        </label>
                    </div>
                    <br>

                    {{!-- Question 5 --}}
                    <h6>Q.5 What is the effect of a loose connection in a circuit with a switch, battery, and bulb?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="5.1" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The bulb gets brighter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="5.2" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The switch gets hot
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="5.3" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The circuit does not work
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="5.4" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The battery drains faster
                        </label>
                    </div>
                    <br>

                   


                    
                    <div>
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>

            </div>







        </div>
        <div class="col-sm-6" id="clm2">

            <nav class="nav">
                <a class="btn btn-primary" href="#" onclick="displayVideo()">Simulation</a>
                <a class="btn btn-primary" href="#questions">Test</a>
            </nav>

            <div style="margin-top: 50px;" id="Container">
                <div id="video--Container">

                    <iframe src="https://tinyurl.com/2ew8rqf8" width="200%"
                        height="400">

                    </iframe>

                    <p>Toggle switch to complete the circuit</p>

                </div>

                <div id="animation--Container">




                </div>

                <div id="test--Container">
                    Test
                </div>
            </div>




        </div>
    </div>
</div>

<script>

    var videoContainer = document.getElementById("video--Container")
    var animationContainer = document.getElementById("animation--Container")
    var testContainer = document.getElementById("test--Container")

    function displayVideo() {
        if (window.getComputedStyle(videoContainer).display == "none") {
            videoContainer.style.display = "block"
            animationContainer.style.display = "none"
            testContainer.style.display = "none"
        }
    }

    function displayAnimation() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    function displayTest() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    var animation1 = document.getElementById("animation1")
    function run(){

        alert("ABCD")

        animation1.style.display = "none"
        animation2.style.display = "block"


        

    }





</script>

<script>

    const form = document.getElementById("myForm")

    const ansOfQ1 = document.getElementById("1.2")
    const ansOfQ2 = document.getElementById("2.1")
    const ansOfQ3 = document.getElementById("3.3")
    const ansOfQ4 = document.getElementById("4.3")
    const ansOfQ5 = document.getElementById("5.3")

    
    form.addEventListener('submit', (e) => {
        e.preventDefault()

        console.log(ansOfQ1.checked)

        var progressCounter = 0

        if(ansOfQ1.checked === true){
            progressCounter = progressCounter + 1
        }

        if(ansOfQ2.checked === true){
           progressCounter = progressCounter + 1
        }

        if(ansOfQ3.checked === true){
            progressCounter = progressCounter + 1
        }

        if(ansOfQ4.checked === true){
            progressCounter = progressCounter + 1
        }

        if(ansOfQ5.checked === true){
            progressCounter = progressCounter + 1
        }

        if(true){
            alert("Congraluations Your Score is : " + progressCounter)
           
        }

    })


</script>