<div class="container" id="leaderboard--wrapper">

    <div id="leaderboard--heading">
        <h2>Leader Board</h2>
    </div>
    {{!-- <br> --}}
    <hr>

    <div id="user--wrapper">

        <div class="row std" id="wrp">

            <h4 id="loading" style="text-align: center;">Loading Please Wait</h4>


        </div>

     

    </div>


</div>


<script>
    

    
    fetch('../../leaderBoard/getListOfScore')
    .then((response) => response.json())
    .then((studentListWithScore) => {
            {{!-- console.log(studentListWithScore) --}}
            document.getElementById("loading").style.display = "none"
            let studentName = Object.keys(studentListWithScore);
            console.log(studentName)

            let rank = 1;
            studentName.forEach((student) => {


                {{!-- var mylist = document.getElementsByClassName('std');
                mylist.insertAdjacentHTML('afterend', '<div class="col-sm-6 align-self-center"><h6>Shreyash Talole</h6></div><div class="col-sm-1 align-self-center"><h5>#1</h5></div><div class="col-sm-3 d-flex justify-content-centeralign-self-center"><h5>360</h5></div>'); --}}

                let template = document.getElementById("wrp");
                let html = `<div class="row std" id="wrp"> <div class="col-sm-6 align-self-center"><h6>${student}</h6></div><div class="col-sm-1 align-self-center"><h5>${rank}</h5></div><div class="col-sm-3  align-self-center" style="text-align:right;"><h5>${studentListWithScore[student]}</h5></div></div> <br><br><hr>`;
                template.insertAdjacentHTML("beforeend", html);

                rank = rank + 1;

            })
    })

</script>