<div class="container" id="leaderboard--wrapper">

    <div id="leaderboard--heading">
        <h2>Leader Board</h2>
    </div>
    {{!-- <br> --}}
    <hr>

    <div id="user--wrapper">

        <div class="row">

            <div class="col-sm-2 d-flex justify-content-center
                align-self-center">
                <img class="img-fluid"
                    src="https://smaabacus.com/themes/user/assets/img/avatar/male.png"
                    style="width: 40px;border-radius:100%;">

            </div>
            <div class="col-sm-6 align-self-center">
                <h6>Shreyash Talole</h6>
            </div>
            <div class="col-sm-1 align-self-center">
                <h5>#1</h5>
            </div>
            <div class="col-sm-3 d-flex justify-content-center
                align-self-center">
                <h5>360</h5>
            </div>

        </div>

    </div>

    <div id="user--wrapper">
        <div class="row">

            <div class="col-sm-2 d-flex justify-content-center
                align-self-center">
                <img class="img-fluid"
                    src="https://smaabacus.com/themes/user/assets/img/avatar/male.png"
                    style="width: 40px;border-radius:100%;">

            </div>
            <div class="col-sm-6 align-self-center">
                <h6>Shreyash Talole</h6>
            </div>
            <div class="col-sm-1 align-self-center">
                <h5>#2</h5>
            </div>
            <div class="col-sm-3 d-flex justify-content-center
                align-self-center">
                <h5>320</h5>
            </div>

        </div>
    </div>

    <div id="user--wrapper">
        <div class="row">

            <div class="col-sm-2 d-flex justify-content-center
                align-self-center">
                <img class="img-fluid"
                    src="https://smaabacus.com/themes/user/assets/img/avatar/male.png"
                    style="width: 40px;border-radius:100%;">

            </div>
            <div class="col-sm-6 align-self-center">
                <h6>Shreyash Talole</h6>
            </div>
            <div class="col-sm-1 align-self-center">
                <h5>#3</h5>
            </div>
            <div class="col-sm-3 d-flex justify-content-center
                align-self-center">
                <h5>100</h5>
            </div>

        </div>
    </div>

    <div id="user--wrapper">

    </div>

    <div id="user--wrapper">

    </div>

</div>