<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" id="sidebar">
    <button style="color: white;" class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>

    <div id="sidebar--profile--container">
        <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
        <h5 id="userName">Student Name</h5>
    </div>



    <div id="sidebar--score">
        <h4 style="color: aliceblue;">
            <i class="fa fa-star" aria-hidden="true"></i> SCORE = 340
        </h4>
    </div>
    
</div>



<script>
    document.getElementById("userName").innerHTML = JSON.parse(localStorage.getItem("user")).name
</script>

