<div id="student-progress-wrapper">
  <h4>Students Progress</h4>
  <br>
  <form id="studentSearchForm">
    <input type="text" placeholder="Student ID" name="studentID">
    <button type="submit">Search</button>
  </form>
  <br>
  <br>



  <div class="container" id="student-progress-attendence-wrapper">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 13rem;">
          <img
            src="https://i.pinimg.com/736x/72/8d/8e/728d8e507a7cd65eeb4f82735293dde6.jpg"
            class="card-img-top" alt="...">
          <div class="card-body" style="text-align:center">
            <h5 class="card-title">kakashi hatake</h5>
            <h5 class="card-title">Class : 10</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-9">

        <div class="container">
          <form id="attendenceYearForm">

            <input type="number" value="2022" name="attendenceYear">
            <button type="submit">Submit</button>
          </form>
        </div>

        <div>
          <div id="myChart" style="height:300px"></div>
        </div>

      </div>
    </div>
  </div>

  <br>
  <br>


  {{!-- ----------------------------- --}}

  <div class="container" id="student-progress-data">

    <h5>Practical Progress</h5>
    <br>

    <table class="table table-dark" id="progressTable">
      <thead>
        <tr>
          <th scope="col">SUBJECT</th>
          <th scope="col">Pract-1</th>
          <th scope="col">Pract-2</th>
          <th scope="col">Pract-3</th>
          <th scope="col">Pract-4</th>
          <th scope="col">Pract-5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">PHYSICS</th>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
        </tr>

        <tr>
          <th scope="row">CHEMISTRY</th>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
        </tr>

        <tr>
          <th scope="row">BIOLOGY</th>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
        </tr>

        <tr>
          <th scope="row">C++</th>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
          <td>100%</td>
        </tr>

        <tr>
          <th scope="row">HTML</th>
          <td id="pract1"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>


  </div>





</div>


<script>

    var form = document.getElementById("attendenceYearForm")
    var year = 0;
    form.addEventListener('submit',(e) => {
        e.preventDefault()
        var formData = new FormData(form)
        console.log(Object.fromEntries(formData).attendenceYear)

        year = Object.fromEntries(formData).attendenceYear
       

    

    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"]; // DEFINE DATA
    // -----------------------------
    let optionValues = [
    
      ['2021-01-01', 1],
      ['2020-01-04', 1],
      ['2020-01-05', 1],
      ['2020-01-06', 1],
      ['2020-01-07', 1],
      ['2020-01-08', 1],
      ['2020-01-11', 1],
      ['2020-01-12', 1],
      ['2020-01-13', 1],
      ['2020-01-14', 1],
      ['2020-01-15', 1],
      ['2020-01-18', 1],
      ['2020-01-19', 1],
      ['2020-01-20', 1],
      ['2020-01-21', 1],
      ['2020-01-22', 1],
      ['2020-01-25', 1],
      ['2020-01-26', 1],
      ['2020-01-27', 1],
      ['2020-01-28', 1],
      ['2020-01-29', 1],
      ['2020-02-01', 1],
      ['2020-02-02', 1],
      ['2020-02-03', 1],
      ['2020-02-04', 1],
      ['2020-02-05', 1],
      ['2020-02-08', 1],
      ['2020-02-09', 1],
      ['2020-02-10', 1],
      ['2020-02-11', 1],
      ['2020-02-12', 1],
      ['2020-02-15', 1],
      ['2020-02-16', 1],
      ['2020-02-17', 1],
      ['2020-02-18', 1],
      ['2020-02-19', 1],
      ['2020-02-22', 1],
      ['2020-02-23', 1],
      ['2020-02-24', 1],
      ['2020-02-25', 1],
      ['2020-02-26', 1],
      ['2020-02-29', 1],
      ['2020-03-01', 1],
      ['2020-03-02', 1],
      ['2020-03-03', 1],
      ['2020-03-04', 1],
      ['2020-03-07', 1],
      ['2020-03-08', 1],
      ['2020-03-09', 1],
      ['2020-03-10', 1],
      ['2020-03-11', 1],
      ['2020-03-14', 1],
      ['2020-03-15', 1],
      ['2020-03-16', 1],
      ['2020-03-17', 1],
      ['2020-03-18', 1],
      ['2020-03-21', 1],
      ['2020-03-22', 1],
      ['2020-03-23', 1],
      ['2020-03-24', 1],
      ['2020-03-25', 1],
      ['2020-03-28', 1],
      ['2020-03-29', 1],
      ['2020-03-30', 1],
      ['2020-03-31', 1],
      ['2020-04-01', 1],
      ['2020-04-04', 1],
      ['2020-04-05', 1],
      ['2020-04-06', 1],
      ['2020-04-07', 1],
      ['2020-04-08', 1],
      ['2020-04-11', 1],
      ['2020-04-12', 1],
      ['2020-04-13', 1],
      ['2020-04-14', 1],
      ['2020-04-15', 1],
      ['2020-04-18', 1],
      ['2020-04-19', 1],
      ['2020-04-20', 1],
      ['2020-04-21', 1],
      ['2020-04-22', 1],
      ['2020-04-25', 1],
      ['2020-04-26', 1],
      ['2020-04-27', 1],
      ['2020-04-28', 1],
      ['2020-04-29', 1],
      ['2020-05-02', 1],
      ['2020-05-03', 1],
      ['2020-05-04', 1],
      ['2020-05-05', 1],
      ['2020-05-06', 1],
      ['2020-05-09', 1],
      ['2020-05-10', 1],
      ['2020-05-11', 1],
      ['2020-05-12', 1],
      ['2020-05-13', 1],
      ['2020-05-16', 1],
      ['2020-05-17', 1],
      ['2020-05-18', 1],
       ['2022-05-18', 1],
       ['2022-05-18', 1],
       ['2022-05-18', 1],
       ['2022-05-18', 1],
       ['2022-05-18', 1],
    

    ];

    // CHART CONFIG
    // -----------------------------
    let chartConfig = {
      type: 'calendar',
      options: {
        values: optionValues,
        endMonth: 12,
        month: {
          item: {
            fontColor: 'gray',
            fontSize: '9px',
          },
        },
        palette: ['none', '#4CAF50'],
        startMonth: 1,
        weekday: {
          values: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
          item: {
            fontColor: 'gray',
            fontSize: '9px',
          },
        },
        year: {
          text: year,
          visible: true,
        },
      },
    
      plotarea: {
        marginTop: '15%',
        marginRight: '8%',
        marginBottom: '55%',
        marginLeft: '8%',
      },
      
    };

    // RENDER CHARTS
    // -----------------------------
    zingchart.loadModules('calendar', () => {
      zingchart.render({
        id: 'myChart',
        data: chartConfig,
      });
    });
    })
  </script>


<script>

  form = document.getElementById("studentSearchForm")

  form.addEventListener('submit', (e) => {
    e.preventDefault()

    var formData = new FormData(form)
    var formDataJson = Object.fromEntries(formData)

    console.log(formDataJson.studentID)

    var studentID = formDataJson.studentID


    fetch('/users/getStudent' + studentID)
    .then((response) => response.json())
    .then((data) => {
      
      {{!-- console.log(data[0].htmlScore) --}}
      console.log(data)
      const studentData = data

       // To Update HTML Score
      var x = document.getElementById("progressTable").rows[5].cells;
      x[1].innerHTML = data[0].htmlScore.pract1.score + "<br>" + data[0].htmlScore.pract1.timeStamp;
      x[2].innerHTML = data[0].htmlScore.pract2.score + "<br>" + data[0].htmlScore.pract2.timeStamp;
      x[3].innerHTML = data[0].htmlScore.pract3.score + "<br>" + data[0].htmlScore.pract3.timeStamp;
      x[4].innerHTML = data[0].htmlScore.pract4.score + "<br>" + data[0].htmlScore.pract4.timeStamp;
      x[5].innerHTML = data[0].htmlScore.pract5.score + "<br>" + data[0].htmlScore.pract5.timeStamp;

      // To Update PHYSICS Score
      var x = document.getElementById("progressTable").rows[1].cells;
      x[1].innerHTML = data[0].physicsScore.pract1.score + "<br>" + data[0].physicsScore.pract1.timeStamp;
      x[2].innerHTML = data[0].physicsScore.pract2.score + "<br>" + data[0].physicsScore.pract2.timeStamp;
      x[3].innerHTML = data[0].physicsScore.pract3.score + "<br>" + data[0].physicsScore.pract3.timeStamp;
      x[4].innerHTML = data[0].physicsScore.pract4.score + "<br>" + data[0].physicsScore.pract4.timeStamp;
      x[5].innerHTML = data[0].physicsScore.pract5.score + "<br>" + data[0].physicsScore.pract5.timeStamp;
      
    })

  })

  

</script>