{{>internalNabBar}}
<div class="container-fluid" id="wrapper">

    <div>
    <h4 class="card-title" id="practicals--heading">HTML PRACTICALS</h4>

    </div>
        
    <div class="row">
        
        <div class="col-sm-6">

            <div class="card mb-3 practicals--card" style="max-width: 540px;" onclick="location.href='/users/me/html/pract-1';">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="https://www.myjigyasa.com/images/How_It_Works_3.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">PRACT 1</h5>
                            <p class="card-text">
                               Aim : Learn About Html Elements
                            </p>
                            <p class="card-text"><small class="text-muted">40% Completed</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 practicals--card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="https://www.myjigyasa.com/images/How_It_Works_3.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">PRACT 2</h5>
                            <p class="card-text">Aim : Learn About Html Attributes</p>
                            <p class="card-text"><small class="text-muted">100% Completed</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 practicals--card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="https://www.myjigyasa.com/images/How_It_Works_3.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">PRACT 3</h5>
                            <p class="card-text">Aim : Learn About Html Headings</p>
                            <p class="card-text"><small class="text-muted">80% Completed</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 practicals--card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="https://www.myjigyasa.com/images/How_It_Works_3.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">PRACT 3</h5>
                            <p class="card-text">Aim : Learn About Html Style</p>
                            <p class="card-text"><small class="text-muted">80% Completed</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 practicals--card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="https://www.myjigyasa.com/images/How_It_Works_3.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">PRACT 3</h5>
                            <p class="card-text">Aim : Learn About Html Iframe</p>
                            <p class="card-text"><small class="text-muted">80% Completed</small></p>
                        </div>
                    </div>
                </div>
            </div>





        </div>



        <div class="col-sm-6 d-flex justify-content-center" >

            {{>leaderboard}}

        </div>

    </div>






</div>