{{!-- <h1>{{message}}</h1> --}}
{{!-- <h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<div style="text-align: center;">
    <br>
    {{!-- <h1>Page Not Found</h1> --}}
    <img class="img-fluid" src="https://img.freepik.com/free-vector/404-error-concept-with-blue-robot_23-2147738004.jpg?w=740&t=st=1681814143~exp=1681814743~hmac=2d5d092727eb6cd8cf14c88b12daeb8407b8142f0f0aaf54063303bd5b82e85e">
</div>
