
{{>internalNabBar}}

<div id="practical--wrapper">
    <div class="row">
        <div class="col-sm-6" id="clm1">
            <br>
            <p class="card-title" id="practical--heading">
                Subject : C Programming <br>
                Practical No : 2 <br>
                Progress :
                <span id="progress">0</span>%
            </p>



            <div id="practicalData--wrapper">
                <h5> <span style="color: #FF842F;">AIM </span> <br>TO STUDY
                    DIFFERNT DATE TYPES</h5>
                <br>
                <div id="theory--wrapper">
                    <h5><span style="color: #FF842F;">THEORY </span></h5>
                    <p>C has a concept of 'data types' which are used to define
                        a variable before its use. A programming language is
                        proposed to help programmer to process certain kinds of
                        data and to provide useful output. The task of data
                        processing is accomplished by executing series of
                        commands called program. A program usually contains
                        different types of data types (integer, float, character
                        etc.) and need to store the values being used in
                        the program. C language is rich of data types. A C
                        programmer has to employ proper data type as per his
                        requirement.

                        <br>
                        <br>
                        <h5>Basic Data Types</h5>
                        The data type specifies the size and type of information
                        the variable will store.<br>
                        The following table shows the data type with its size
                        and description.
                        <br>
                        <table>
                            <tr>
                                <th>Data type</th>
                                <th>Size</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>int </td>
                                <td>2 or 4 bytes</td>
                                <td>Stores whole numbers, without decimals</td>
                            </tr>
                            <tr>
                                <td>float</td>
                                <td>4 bytes</td>
                                <td>Stores fractional numbers, containing one or
                                    more decimals. Sufficient for storing 6-7
                                    decimal
                                    digits</td>
                            </tr>
                            <tr>
                                <td>double </td>
                                <td>8 bytes</td>
                                <td>Stores fractional numbers, containing one or
                                    more decimals. Sufficient for storing 15
                                    decimal digits
                                </td>
                            </tr>

                            <tr>
                                <td>char </td>
                                <td>1 byte</td>
                                <td>Stores whole numbers, without decimals</td>
                            </tr>
                        </table>




                        <br>
                        <br>
                        <h5>Basic Format Specifiers</h5>
                        There are different format specifiers for each data
                        type. Here are some of them:
                        <br>
                        <table>
                            <tr>
                                <th>Format Specifier</th>
                                <th> Data Type</th>

                            </tr>
                            <tr>
                                <td>%d or %i</td>
                                <td> int</td>

                            </tr>
                            <tr>
                                <td>%f</td>
                                <td>float</td>

                            </tr>
                            <tr>
                                <td>%lf</td>
                                <td>double</td>

                            </tr>
                            <tr>
                                <td>%c</td>
                                <td>char</td>

                            </tr>
                            <tr>
                                <td>%s</td>
                                <td>Used for strings (text)</td>

                            </tr>
                        </table>
                        <br>
                        example
                        <br>
                        <code>
                            // Create variables <br>
                            int myNum = 5; // Integer (whole number)<br>
                            float myFloatNum = 5.99; // Floating point number
                            <br>
                            char myLetter = 'D'; // Character <br>

                            // Print variables <br>
                            printf("%d\n", myNum); <br>
                            printf("%f\n", myFloatNum); <br>
                            printf("%c\n", myLetter); <br>
                            <br>

                            Output <br>
                            5 <br>
                            5.990000 <br>
                            D <br>

                        </code>
                    </p>

                </div>

            </div>


            <div id="test--wrapper">
                <h5><span style="color: #FF842F;">QUESTIONS </span></h5>
                <br>


                <form id="myForm">

                    {{!-- Question 1 --}}
                    <h6>Q1. Which of the following is not a HTML tag ?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="1.1" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            &lt;h1&gt; &lt;/h1&gt;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="1.2" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            &lt;h7&gt; &lt;/h7&gt;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="1.3" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            &lt;p&gt; &lt;p&gt;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="1.4" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            &lt;marquee&gt; &lt;/marquee&gt;
                        </label>
                    </div>
                    <br>

                    {{!-- Question 2 --}}
                    <h6>QUESTION</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="2.1" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="2.2" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="2.3" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="2.4" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <br>

                    {{!-- Question 3 --}}
                    <h6>QUESTION</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="3.1" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="3.2" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="3.3" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="3.4" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <br>

                    {{!-- Question 4 --}}
                    <h6>QUESTION</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="4.1" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="4.2" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="4.3" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="4.4" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <br>

                    {{!-- Question 5 --}}
                    <h6>QUESTION</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="5.1" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="5.2" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="5.3" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="5.4" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            OPTION1
                        </label>
                    </div>
                    <br>





                    <div>
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>

            </div>

        </div>
        <div class="col-sm-6" id="clm2">

            <dvi id="Container">
                <iframe style='max-width:100%; border: none; height:
                    375px; width:
                    700px;' height=375 width=700
                    src=https://www.interviewbit.com/embed/snippet/fc6321f65326e73f493a
                    title='Interviewbit Ide
                    snippet/fc6321f65326e73f493a' loading="lazy"
                    allow="clipboard-write" allowfullscreen
                    referrerpolicy="unsafe-url" sandbox="allow-scripts
                    allow-same-origin allow-popups
                    allow-top-navigation-by-user-activation
                    allow-popups-to-escape-sandbox"></iframe>

            </dvi>





        </div>
    </div>
</div>


<script>
    const user = JSON.parse(localStorage.getItem("user"))
    document.getElementById("progress").innerHTML = user.cppScore.pract2.score
</script>
<script>

    const form = document.getElementById("myForm")

    const ansOfQ1 = document.getElementById("1.1")
    const ansOfQ2 = document.getElementById("2.2")
    const ansOfQ3 = document.getElementById("3.3")
    const ansOfQ4 = document.getElementById("4.4")
    const ansOfQ5 = document.getElementById("5.4")

    
    form.addEventListener('submit', (e) => {
        e.preventDefault()

        console.log(ansOfQ1.checked)

        var progressCounter = 0

        if(ansOfQ1.checked === true){
            progressCounter = progressCounter + 20
        }

        if(ansOfQ2.checked === true){
           progressCounter = progressCounter + 20
        }

        if(ansOfQ3.checked === true){
            progressCounter = progressCounter + 20
        }

        if(ansOfQ4.checked === true){
            progressCounter = progressCounter + 20
        }

        if(ansOfQ5.checked === true){
            progressCounter = progressCounter + 20
        }

        if(true){
            alert("Congraluations Your Score is : " + progressCounter)

         

             fetch(`/practScore/updateCppScore/${progressCounter}/pract2/${JSON.parse(localStorage.getItem("user")).studentID}`)
            .then((response) => response.json())
            .then((data) => {
                {{!-- console.log(data) --}}
                document.getElementById("progress").innerHTML = data.htmlScore.pract1.score
            localStorage.setItem('user', JSON.stringify(data))
            })
           
        }else{
            alert("Try again")
        }

       
      


    })


</script>
{{>checkIfLoggedInOrNot}}
