
#teacher-sidebar-profile-container{
    background-color: #FF842F;
    padding: 15px 0px;
    text-align: center;
}

#teacher-sidebar-profile-container-subject{
    /* background-color: #051E34; */
    color: white;
    font-weight: 700;
}

#teacher-sidebar-navigation{
    margin-top: 20px;
    color: white;
    padding: 20px;
}

h5{
    color: white;
}

/* STUDENT LIST */
#student-list-wrapper{
    padding: 40px;
    
}

.table{
    border: 1px dashed black;
}

/* STUDENT PROGRESS */
#student-progress-wrapper{
    padding: 40px;
}

#student-progress-attendence-wrapper{
    /* border: 1px dashed black; */
    padding: 20px;
}

th{
    text-align: center;
}

#studentData{
    display: none;
}

/* CREATE STUDENT */
#create_student_wrapper{
    max-width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}