
#teacher-sidebar-profile-container{
    background-color: #FF842F;
    padding: 15px 0px;
    text-align: center;
}

#teacher-sidebar-profile-container-subject{
    /* background-color: #051E34; */
    color: white;
    font-weight: 700;
}

#teacher-sidebar-navigation{
    margin-top: 20px;
    color: white;
    padding: 20px;
}

h5{
    color: white;
}

/* STUDENT LIST */
#student-list-wrapper{
    padding: 40px;
    
}

.table{
    border: 1px dashed black;
}

/* STUDENT PROGRESS */
#student-progress-wrapper{
    padding: 40px;
}

#student-progress-attendence-wrapper{
    /* border: 1px dashed black; */
    padding: 20px;
}

th{
    text-align: center;
}

#studentData{
    display: none;
}