.editor{
    position: fixed;
}

@media all and (max-width: 800px) {
    .editor{
        position: relative;
    }
}
#html-code{
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    background-color: black;
    color: aliceblue;
    display: block;
    font-family: 'Courier New', Courier, monospace;

}

#css-code{
    width: 100%;
    height: 200px;
    border: 1px solid red;
    display: none;
    font-family: 'Courier New', Courier, monospace;
}

#output{
    width: 100%;
    border: 1px solid gray;
}