
{{>internalNabBar}}

<style>
    input {
        width: 300px;
    }
</style>

<div id="practical--wrapper">
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-sm-6" id="clm1">
            <br>
            <p class="card-title" id="practical--heading">
                Subject : BIOLOGY <br>
                Practical No : 3 <br>
                Progress :
                <span id="progress">0</span>%
            </p>


            <div id="practicalData--wrapper">
                <h5> <span style="color: #FF842F;">AIM </span> <br>STUDY OF THE
                    STRUCTURE OF PLANT AND ANIMAL CELLS:

                </h5>
                <br>
                <div id="theory--wrapper">
                    <h5><span style="color: #FF842F;">Requirements: Compound
                            microscope, slide, cover slip, forceps, water,
                            onion.

                        </span></h5>
                    <p>
                        Procedure-1:
                        <br>
                        Take a fleshy scale leaf from a fresh onion and pick up
                        a thinmembrane from its outer epidermis
                        with the help of a forceps. Place the thin membrane on
                        the slide in a drop of water. Cover the piece with a
                        cover slip and observe under microscope.
                        <br> <br>
                        Observation:
                        <br>
                        Under high power objective a single layer of cells will
                        be seen.The cells are with a definite
                        shape and each of them is surrounded by a thick cell
                        wall. Near the cell wall, a nucleus is presenting in
                        the cytoplasm. In every cell there is a large vacuole.
                        <br> <br>


                        <img
                            src="https://img.jagranjosh.com/images/2021/September/2992021/Plant-Animal-Cell-Structure.webp"
                            alt="plant animal structure" width="500"
                            height="400">

                        <br>
                        Procedure-2:
                        <br>
                        Wash your hands properly and bring out a thin membrane
                        frominside your mouth rubbing with your
                        finger. Now rub the membrane, on your finger, over the
                        slide. A sticky layer will form on the slide. Then
                        observe the sticky area of the slide under a compound
                        microscope. <br> <br>

                        Observation:
                        <br>
                        <br>
                        Cell will be seen under the microscope. The cells are
                        more orless round in shape, a thin
                        membrane surrounds each cell but there is no cell wall.
                        The nucleus is present at centre of the cell and
                        there is no vacuole.
                        <br>
                        <br>
                        Difference between plant and animal Cell :-
                        <br>
                        <img
                            src="https://img.brainkart.com/imagebk17/96Yxf1f.jpg"
                            alt="plant animal difference" width="500"
                            height="350">



                    </p>

                </div>

            </div>

            <div id="test--wrapper">
                <h5><span style="color: #FF842F;" id="questions">QUESTIONS
                    </span></h5>
                <br>


                <form id="myForm">

                    {{!-- Question 1 --}}
                    <h6>Q1. What is the purpose of this practical?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="1.1" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of lime water in exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="1.2" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of carbon dioxide in exhaled
                            air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="1.3" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of oxygen in exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="1.4" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of water vapor in exhaled air
                        </label>
                    </div>
                    <br>

                    {{!-- Question 2 --}}
                    <h6>Q.2 What happens to the lime water when exhaled air is
                        blown into it?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="2.1" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water becomes more clear
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="2.2" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water turns blue

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="2.3" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water turns cloudy or milky

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="2.4" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water produces a strong smell

                        </label>
                    </div>
                    <br>

                    {{!-- Question 3 --}}
                    <h6>Q.3 What causes the cloudiness or milkiness of the lime
                        water in this experiment?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="3.1" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The oxygen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="3.2" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The nitrogen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="3.3" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The carbon dioxide in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="3.4" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The water vapor in the exhaled air

                        </label>
                    </div>
                    <br>

                    {{!-- Question 4 --}}
                    <h6>Q.4Why is a straw used in this experiment?
                    </h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="4.1" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To cool the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="4.2" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To filter the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="4.3" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To direct the exhaled air into the lime water
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="4.4" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To prevent the exhaled air from entering the
                            experimenter's mouth

                        </label>
                    </div>
                    <br>

                    {{!-- Question 5 --}}
                    <h6>Q.5 What does the formation of the white precipitate in
                        the lime water confirm?
                    </h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="5.1" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of carbon monoxide in the exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="5.2" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of oxygen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="5.3" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of carbon dioxide in the exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="5.4" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of water vapor in the exhaled air
                        </label>
                    </div>
                    <br>





                    <div>
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>

            </div>







        </div>
        <div class="col-sm-6" id="clm2">

            <nav class="nav">
                <a class="btn btn-primary" href="#" onclick="displayVideo()">Simulation</a>
                <a class="btn btn-primary" href="#questions">Test</a>
            </nav>

            <div style="margin-top: 50px;" id="Container">
                <div id="video--Container" style="text-align:center;">





                    <img class="img-fluid" src="/images/plantCell.png"
                        style="border:1px solid blue;">


                </div>
                <br>
                <div>
                    <form id="practForm">
                        <span style="font-weight: 700">1 </span> <input
                            type="text" name="first" id="first"> <span id="1"></span>
                        <br>
                        <span style="font-weight: 700">2 </span> <input
                            type="text" name="second" id="second"> <span id="2"></span>
                        <br>
                        <span style="font-weight: 700">3 </span> <input
                            type="text" name="third" id="third"> <span id="3"></span>
                        <br>
                        <div>
                            <br>
                            <button type="submit">CHECK</button>
                        </div>
                    </form>
                </div>


                <div id="test--Container">
                    Test
                </div>
            </div>




        </div>
    </div>
</div>

<script>
    const user = JSON.parse(localStorage.getItem("user"))
    document.getElementById("progress").innerHTML = user.biologyScore.pract3.score
</script>
<script>

    var videoContainer = document.getElementById("video--Container")
    var animationContainer = document.getElementById("animation--Container")
    var testContainer = document.getElementById("test--Container")

    function displayVideo() {
        if (window.getComputedStyle(videoContainer).display == "none") {
            videoContainer.style.display = "block"
            animationContainer.style.display = "none"
            testContainer.style.display = "none"
        }
    }

    function displayAnimation() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    function displayTest() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    var animation1 = document.getElementById("animation1")
    function run() {

        alert("ABCD")

        animation1.style.display = "none"
        animation2.style.display = "block"




    }





</script>
{{!-- SCRIPT FOR QUESTIONS --}}
<script>

    const form = document.getElementById("myForm")

    const ansOfQ1 = document.getElementById("1.2")
    const ansOfQ2 = document.getElementById("2.3")
    const ansOfQ3 = document.getElementById("3.3")
    const ansOfQ4 = document.getElementById("4.3")
    const ansOfQ5 = document.getElementById("5.3")


    form.addEventListener('submit', (e) => {
        e.preventDefault()

        console.log(ansOfQ1.checked)

        var progressCounter = 0

        if (ansOfQ1.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ2.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ3.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ4.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ5.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (true) {
            alert("Congraluations Your Score is : " + progressCounter)

            fetch(`/practScore/updateBiologyScore/${progressCounter}/pract3/${JSON.parse(localStorage.getItem("user")).studentID}`)
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)

                    document.getElementById("progress").innerHTML = data.biologyScore.pract3.score
                    localStorage.setItem('user', JSON.stringify(data))
                })

        }

    })


</script>
<script>

    

    document.getElementById("practForm").addEventListener('submit', (e) => {
        e.preventDefault()

    
    var first = document.getElementById("first")
    var second = document.getElementById("second")
    var third = document.getElementById("third")


       

        if(first.value.toLowerCase() === 'cell wall'){
            document.getElementById("1").innerHTML = "&#x2713;"
            document.getElementById("1").style.color = "green"
        }else{
            document.getElementById("1").innerHTML = "&#10008;"
            document.getElementById("1").style.color = "red"
        }

        if(second.value.toLowerCase() === 'vacuole'){
            document.getElementById("2").innerHTML = "&#x2713;"
            document.getElementById("2").style.color = "green"
        }else{
            document.getElementById("2").innerHTML = "&#10008;"
            document.getElementById("2").style.color = "red"
        }


        if(third.value.toLowerCase() === 'nucleus'){
            document.getElementById("3").innerHTML = "&#x2713;"
            document.getElementById("3").style.color = "green"
        }else{
            document.getElementById("3").innerHTML = "&#10008;"
            document.getElementById("3").style.color = "red"
        }

       
       
        
    })



</script>
{{>checkIfLoggedInOrNot}}