


{{>internalNabBar}}

<style>
    input {
        width: 300px;
    }
</style>

<div id="practical--wrapper">
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-sm-6" id="clm1">
            <br>
            <p class="card-title" id="practical--heading">
                Subject : BIOLOGY <br>
                Practical No : 4 <br>
                Progress :
                <span id="progress">0</span>%
            </p>


            <div id="practicalData--wrapper">
                <h5> <span style="color: #FF842F;">AIM </span> <br> TO STUDY
                    REGIONS OF THE SKELETON</h5>
                <br>
                <div id="theory--wrapper">
                    <h5><span style="color: #FF842F;">THEORY </span></h5>
                    <p>
                        * Learning about the skeleton has many applications in
                        biological anthropology. Forensic scientists and
                        bioarchaeologists rely upon a knowledge of the skeleton
                        to understand the lives of deceased people and
                        populations. Specialists in primate biology and
                        evolution connect differences in the shapes and sizes of
                        bones to the lifestyles and environments of different
                        species. Paleoanthropologists understand the process
                        of human origins by examining evidence from bones. <br>
                        * A human skeleton has more than 200 bones. Many
                        textbooks say 206, but actually the precise number
                        varies
                        among different people. The canonical number of 206
                        bones includes the ones that have well-defined names and
                        occur in nearly all people. Most adults have additional
                        bones that are not counted in this number, such as
                        the sesamoid bones of the feet and (sometimes) hands.
                        <br>

                        * Anatomists have a name for every bone of the skeleton
                        and names for the main features found on each bone.
                        Learning all these names can be a long process. One way
                        to start is by understanding the main anatomical
                        regions of the skeleton. <br> <br>

                        BASIC DIVISIONS OF THE SKELETON: <br>

                        * The cranium, or skull, sits atop the spine. The rest
                        of the skeleton, everything from the neck down, is
                        called the postcranium, or postcranial skeleton. <br>
                        * Human anatomists sometimes use the term infracranial
                        (infra- = "beneath") rather than postcranial (post- =
                        "behind"). <br>
                        * A different way of dividing the skeleton is into the
                        appendicular skeleton, which includes the arms, legs,
                        hands, feet, shoulder girdle, and hip bones, and the
                        axial skeleton, which includes the skull, vertebral
                        column, ribs, sternum, and sacrum. This division
                        reflects the central axis of the skeleton versus the
                        legs
                        and arms and parts that connect them. <br> <br>

                        CRANIUM <br>
                        * The skull itself is a complicated structure made up of
                        27 cranial bones plus the mandible. Except for the
                        mandible, these bones mostly are fused together so that
                        they do not move relative to each other.<br>
                        * The joints between most of the cranial bones are
                        borders where the bones knit together, called sutures.
                        <Br>
                        * The teeth are rooted in the mandible and the bones of
                        the face, called the maxillary bones, or maxillae.
                        The
                        teeth are the only part of the skeletal system that come
                        into direct contact with the environment. They are
                        not bone, but are instead made up of hard calcified
                        tissues called dentin and enamel. The teeth are small
                        but contain a vastly outsized fraction of information
                        because of their long persistence in the fossil record
                        as well as their close relationship to development and
                        diet. <br> <br>

                        APPENDICULAR SKELETON : <br>
                        * The long bones are the major bones of the arm and leg.
                        These bones are variations on a common theme: A
                        long
                        shaft with two ends, each of which forms part of an
                        articulation, or joint, with another bone or structure.
                        <br>
                        * The long bones are all paired bones, meaning that each
                        individual has both a left and right. The anatomy
                        of
                        the each bone enables us to identify whether it came
                        from the right or left side of the skeleton. <br>
                        * The bones of the leg include the femur, tibia and
                        fibula. The femur is the thigh bone, the tibia is the
                        shin
                        bone, and the fibula is a thin bone at the outside of
                        the leg, mainly noticeable because it forms the
                        outside of the ankle joint. <br>
                        * The bones of the arm are the humerus, ulna and radius.
                        The humerus is in the upper arm, the radius and
                        ulna
                        are the lower arm bones. These two bones rotate around
                        each other, and are mostly obvious at the wrist and
                        elbow joint. The ulna is the bone that is most prominent
                        on the back of the elbow. The radius is the lower
                        arm bone that lies nearer the thumb, the ulna is nearer
                        the pinky side of the hand. <br>
                        * Each shoulder girdle is composed of the scapula, or
                        shoulder blade, and the clavicle, or collar bone. <br>
                        * The pelvis is a structure that includes the left and
                        right os coxae or innominate bones, and the sacrum,
                        which is part of the axial skeleton. <br> <br>

                        AXIAL SKELETON : <br>
                        * The cranium, discussed above, is the superior end of
                        the axial skeleton. <br>
                        * The vertebral column runs the length of the back. Most
                        people have 24 vertebrae. <br>
                        * Usually, twelve of the vertebrae connect directly to
                        twelve pairs of ribs. In some people this number may
                        be thirteen or eleven, or the number may be different on
                        left and right sides. <br>
                        * At the front of the chest is a flat bone called the
                        sternum that connects ribs by means of the costal
                        cartilages. <br>
                        * The sacrum is composed of fused vertebrae at the base
                        of the vertebral column. This structure is part of
                        the pelvis and connects the left and right hip bones, or
                        ossa coxae. At the most inferior end of the sacrum, a
                        few small vertebral bodies form the coxxyx, or tailbone.
                        <br>





                    </p>

                </div>

            </div>

            <div id="test--wrapper">
                <h5><span style="color: #FF842F;" id="questions">QUESTIONS
                    </span></h5>
                <br>


                <form id="myForm">

                    {{!-- Question 1 --}}
                    <h6>Q1. What is the purpose of this practical?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="1.1" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of lime water in exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="1.2" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of carbon dioxide in exhaled
                            air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="1.3" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of oxygen in exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="1.4" name="q1">
                        <label class="form-check-label" for="flexCheckDefault">
                            To measure the amount of water vapor in exhaled air
                        </label>
                    </div>
                    <br>

                    {{!-- Question 2 --}}
                    <h6>Q.2 What happens to the lime water when exhaled air is
                        blown into it?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="2.1" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water becomes more clear
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="2.2" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water turns blue

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="2.3" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water turns cloudy or milky

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="2.4" name="q2">
                        <label class="form-check-label" for="flexCheckDefault">
                            The lime water produces a strong smell

                        </label>
                    </div>
                    <br>

                    {{!-- Question 3 --}}
                    <h6>Q.3 What causes the cloudiness or milkiness of the lime
                        water in this experiment?</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="3.1" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The oxygen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="3.2" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The nitrogen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="3.3" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The carbon dioxide in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="3.4" name="q3">
                        <label class="form-check-label" for="flexCheckDefault">
                            The water vapor in the exhaled air

                        </label>
                    </div>
                    <br>

                    {{!-- Question 4 --}}
                    <h6>Q.4Why is a straw used in this experiment?
                    </h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="4.1" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To cool the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="4.2" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To filter the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="4.3" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To direct the exhaled air into the lime water
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="4.4" name="q4">
                        <label class="form-check-label" for="flexCheckDefault">
                            To prevent the exhaled air from entering the
                            experimenter's mouth

                        </label>
                    </div>
                    <br>

                    {{!-- Question 5 --}}
                    <h6>Q.5 What does the formation of the white precipitate in
                        the lime water confirm?
                    </h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1"
                            id="5.1" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of carbon monoxide in the exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2"
                            id="5.2" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of oxygen in the exhaled air

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3"
                            id="5.3" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of carbon dioxide in the exhaled air
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4"
                            id="5.4" name="q5">
                        <label class="form-check-label" for="flexCheckDefault">
                            The presence of water vapor in the exhaled air
                        </label>
                    </div>
                    <br>





                    <div>
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>

            </div>







        </div>
        <div class="col-sm-6" id="clm2">

            <nav class="nav">
                <a class="btn btn-primary" href="#" onclick="displayVideo()">Simulation</a>
                <a class="btn btn-primary" href="#questions">Test</a>
            </nav>

            <div style="margin-top: 50px;" id="Container">
                <div id="video--Container" style="text-align:center;">

                    <div class="sketchfab-embed-wrapper"> <iframe title="Human
                            Skeleton" frameborder="0" allowfullscreen
                            mozallowfullscreen="true"
                            webkitallowfullscreen="true" allow="autoplay;
                            fullscreen; xr-spatial-tracking" xr-spatial-tracking
                            execution-while-out-of-viewport
                            execution-while-not-rendered web-share width="600"
                            height="350"
                            src="https://sketchfab.com/models/acf6b25134d945f8b0bc8ae5e04861df/embed?autospin=1&autostart=1&ui_theme=dark&dnt=1">
                        </iframe>
                    </div>

                </div>
                <br>



                <div id="test--Container">
                    Test
                </div>
            </div>




        </div>
    </div>
</div>

<script>
    const user = JSON.parse(localStorage.getItem("user"))
    document.getElementById("progress").innerHTML = user.biologyScore.pract4.score
</script>
<script>

    var videoContainer = document.getElementById("video--Container")
    var animationContainer = document.getElementById("animation--Container")
    var testContainer = document.getElementById("test--Container")

    function displayVideo() {
        if (window.getComputedStyle(videoContainer).display == "none") {
            videoContainer.style.display = "block"
            animationContainer.style.display = "none"
            testContainer.style.display = "none"
        }
    }

    function displayAnimation() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    function displayTest() {
        if (window.getComputedStyle(animationContainer).display == "none") {
            videoContainer.style.display = "none"
            animationContainer.style.display = "block"
            testContainer.style.display = "none"
        }
    }

    var animation1 = document.getElementById("animation1")
    function run() {

        alert("ABCD")

        animation1.style.display = "none"
        animation2.style.display = "block"




    }





</script>
{{!-- SCRIPT FOR QUESTIONS --}}
<script>

    const form = document.getElementById("myForm")

    const ansOfQ1 = document.getElementById("1.2")
    const ansOfQ2 = document.getElementById("2.3")
    const ansOfQ3 = document.getElementById("3.3")
    const ansOfQ4 = document.getElementById("4.3")
    const ansOfQ5 = document.getElementById("5.3")


    form.addEventListener('submit', (e) => {
        e.preventDefault()

        console.log(ansOfQ1.checked)

        var progressCounter = 0

        if (ansOfQ1.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ2.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ3.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ4.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (ansOfQ5.checked === true) {
            progressCounter = progressCounter + 20
        }

        if (true) {
            alert("Congraluations Your Score is : " + progressCounter)

            fetch(`/practScore/updateBiologyScore/${progressCounter}/pract4/${JSON.parse(localStorage.getItem("user")).studentID}`)
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)

                    document.getElementById("progress").innerHTML = data.biologyScore.pract4.score
                    localStorage.setItem('user', JSON.stringify(data))
                })

        }

    })


</script>
{{>checkIfLoggedInOrNot}}