
    <style>
        body{
            background-color:blanchedalmond;
            background-image: url("/images/4126459.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 0px;
            margin: 0px;
            border-radius: 20px;
        }
    </style>
    <div class="container" style="margin: 10% auto; max-width:500px;">


<iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 src=https://www.interviewbit.com/embed/snippet/fd239850cfd0f3cc5abc title='Interviewbit Ide snippet/fd239850cfd0f3cc5abc' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe>

    </div>